<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--     # link your css file to your html file so that your css shows up on your html page -->
		<link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
  </head>

  <body class="loading">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">
				<!-- Header -->
					<header id="header">
						<h1>About</h1>
            <p class="title">Behind the Madness</p>

						<nav>
              <div class="box1">
                <p>We are Anahi, Annebelle, Audrey, and Sofia, four scholars from the Kode with Klossy program in Los Angeles.</p>
             <p>We built this website with passion and some code to provide you with new music to discover from Soundcloud.</p>
              </div>

						</nav>
					</header>


				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">&copy; Skwad from Kode With Klossy Los Angeles</span>
					</footer>

			</div>
		</div>
		<script>
			window.onload = function() { document.body.className = ''; }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>
